@charset "utf-8";
/* draggableElementSettingBox CSS */

.draggableElement {
	position:absolute;
	top:80px;
	background-color:#FFF;
	border:solid 2px #999999;
	cursor:pointer;
}
.measuringScopeDisplayBox {
	width:600px;
	height:450px;
}
.measuringScopeDisplayBox .headline {
	height:30px;
}
.measuringScopeDisplayBox .headline span {
	font-size:16px;
	font-weight:350;
	top:4px;
}
.chartContainer {
	position:absolute;
	width:560px;
	height:300px;
	left:20px;
	top:65px;
	border:solid 1px #999;
}
.shortCircuitFaultModuleSettingBox {
	width:300px;
	height:400px;
}
.shortCircuitFaultModuleSettingBox .headline {
	height:30px;
}
.shortCircuitFaultModuleSettingBox .headline span {
	font-size:16px;
	font-weight:350;
	top:4px;
}
.faultType {
	position:absolute;
	width:200px;
	height:30px;
	left:60px;
	top:150px;
}
.faultTypeTextName {
	position:absolute;
	left:0px;
	top:0px;
	width:60px;
	height:30px;
}
.faultTypeSelectBox {
	position:absolute;
	left:70px;
	top:0px;
	width:90px;
	height:18px;
	border:solid 1px #CCCCCC;
	overflow:hidden;
}
.faultTypeSelectBoxItemContainer {
	width:90px;
	height:auto;
	position:absolute;
	left:0px;
	top:0px;
}
.faultTypeSelectBoxItem {
	font-family:"微软雅黑";
	position:absolute;
	left:0px;
	top:0px;
	width:90px;
	height:20px;
	cursor:pointer;
}
.faultTypeSelectBoxItem span {
	font-size:14px;
	position:absolute;
	width:90px;
	top:0px;
	text-align:center;
	cursor:pointer;
}
.faultTypeSelectBoxItem:hover {
	background-color:#920000;
	color:#FFF;
}
.triggerDelay {
	font-size:18px;
	position:absolute;
	width:200px;
	height:30px;
	left:60px;
	top:100px;
}
.triggerDelay .inputTextName {
	width:120px;
}
.inputTextContainer_triggerDelay {
	width:60px;
	height:18px;
	position:absolute;
	left:70px;
	top:0px;
	border:solid 1px #CCCCCC;
}
.inputText_triggerDelay {
	font-size:12px;
	width:60px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
}
.triggerDelayUnit {
	position:absolute;
	width:50px;
	height:30px;
	right:10px;
}
.shortCircuitFaultModuleSettingBoxSubmitButton {
	position:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#bf0f0f;
	left:130px;
	bottom:30px;
	color:#FFF;
}
.shortCircuitFaultModuleSettingBoxSubmitButton span {
	font-size:12px;
	position:absolute;
	width:40px;
	text-align:center;
	top:12px;
}
.electricityTransmationModuleSettingBox {
	width:300px;
	height:400px;
}
.electricityTransmationModuleSettingBox .headline {
	height:30px;
}
.electricityTransmationModuleSettingBox .headline span {
	font-size:16px;
	font-weight:350;
	top:4px;
}
.electricityTransmationModuleSettingBox .RParameter {
	font-size:18px;
	position:absolute;
	width:120px;
	height:30px;
	left:20px;
	top:80px;
}
.electricityTransmationModuleSettingBox .XParameter {
	font-size:18px;
	position:absolute;
	width:120px;
	height:30px;
	right:20px;
	top:80px;
}
.electricityTransmationModuleSettingBox .inputTextContainer_RValue {
	width:60px;
	height:18px;
	position:absolute;
	left:40px;
	top:0px;
	border:solid 1px #CCCCCC;
}
.electricityTransmationModuleSettingBox .inputTextContainer_XValue {
	width:60px;
	height:18px;
	position:absolute;
	left:40px;
	top:0px;
	border:solid 1px #CCCCCC;
}
.electricityTransmationModuleSettingBox .inputText_RValue {
	font-size:12px;
	width:60px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
}
.electricityTransmationModuleSettingBox .inputText_XValue {
	font-size:12px;
	width:60px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
}
.electricityTransmationModuleSettingBox .RValueUnit {
	position:absolute;
	left:110px;
}
.electricityTransmationModuleSettingBox .XValueUnit {
	position:absolute;
	left:110px;
}
.electricityTransmationModuleSettingBoxSubmitButton {
	position:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#bf0f0f;
	left:130px;
	bottom:30px;
	color:#FFF;
}
.electricityTransmationModuleSettingBoxSubmitButton span {
	font-size:12px;
	position:absolute;
	width:40px;
	text-align:center;
	top:12px;
}
.electricitySourceSettingBox {
	width:300px;
	height:400px;
}
.electricitySourceSettingBox .headline {
	height:30px;
}
.electricitySourceSettingBox .headline span {
	font-size:16px;
	font-weight:350;
	top:4px;
}
.electricitySourceSettingBox .APhaseParameter {
	font-size:14px;
	width:80px;
	color:#333;
	height:30px;
	position:absolute;
	left:40px;
	top:80px;
	
}
.electricitySourceSettingBox .BPhaseParameter {
	font-size:14px;
	width:80px;
	color:#333;
	height:30px;
	position:absolute;
	left:40px;
	top:120px;	
}
.electricitySourceSettingBox .CPhaseParameter {
	font-size:14px;
	width:80px;
	color:#333;
	height:30px;
	position:absolute;
	left:40px;
	top:160px;
	
}
.inputTextContainer_phaseAmplitude {
	width:60px;
	height:18px;
	position:absolute;
	left:40px;
	top:0px;
	border:solid 1px #CCCCCC;
}
.inputText_phaseAmplitude {
	font-size:12px;
	width:60px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
}
.inputTextName_phaseAngle {
	position:absolute;
	left:120px;
	top:0px;
	width:50px;
}
.inputTextContainer_phaseAngle {
	width:60px;
	height:18px;
	position:absolute;
	left:140px;
	top:0px;
	border:solid 1px #CCCCCC;
}
.inputText_phaseAngle {
	font-size:12px;
	width:60px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:center;
}
.phaseAngleUnit {
	position:absolute;
	left:210px;
}
.sourceTypeSwitcher {
	position:absolute;
	width:240px;
	height:30px;
	left:30px;
	top:200px;
	border:solid 1px #999;
}
.voltageSource {
	position:absolute;
	width:120px;
	height:30px;
	top:0px;
	left:0px;
	background-color:#bf0f0f;
	color:#FFF;
}
.voltageSource span {
	width:120px;
	position:absolute;
	text-align:center;
	top:5px;
}
.currentSource {
	position:absolute;
	width:120px;
	height:30px;
	left:120px;
	top:0px;
}
.currentSource span {
	width:120px;
	position:absolute;
	text-align:center;
	top:5px;
}
.threePhase_AC_supplySettingBoxSubmitButton {
	position:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#bf0f0f;
	left:130px;
	bottom:30px;
	color:#FFF;
}
.threePhase_AC_supplySettingBoxSubmitButton span {
	font-size:12px;
	position:absolute;
	width:40px;
	text-align:center;
	top:12px;
}