@charset "utf-8";
/* loginBox CSS */

.loginBox {
	position:relative;
	top: 50px;
	border: solid 2px #999999;
	margin-right: auto;
	margin-left: auto;
	height: 448px;
	width: 348px;
}
.loginBox_logo {
	position:absolute;
	width:300px;
	height:40px;
	background-image:url(../Img/simCircuit_design/loginBox_logo.png);
	left:24px;
	top:30px;
}
.loginBox_PortraitBox {
	position:absolute;
	left:124px;
	top:100px;
	width:100px;
	height:100px;
	border-radius:50px;
	border:solid 2px #999999;
}
#inputTextName_loginPassword {
	left:3px;
}
#inputTextContainer_loginName {
}
#inputTextContainer_loginPassword {
}

.loginName {
	position: absolute;
	top: 235px;
	left: 66px;
}
.loginPassword {
	position:absolute;
	top:280px;
	left:66px;
}
.loginButton {
	position:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color:#bf0f0f;
	left:155px;
	bottom:50px;
	cursor:pointer;
}
.loginButton span {
	font-size:12px;
	color:#FFF;
	position:absolute;
	left:8px;
	top:12px;
	cursor:pointer;
}
.registLink {
	position:absolute;
	right:110px;
	bottom:61px;
}