@charset "utf-8";
/* CSS Document */
.menuBar {
	position:absolute;
	width:100%;
	height:50px;
	left:0px;
	top:0px;
	background-color:#1e6c6d;
}
.titleNameContainer {
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:50px;
	background-color:#434343;
	cursor:default;
}
.titleName {
	position:absolute;
	width:100px;
	text-align:center;
	color:#FFF;
	font-size:20px;
	left:0px;
	top:11px;
}
.menuButton {
	position:absolute;
	height:50px;
	cursor:pointer;
}
.menuButtonName {
	position:absolute;
	top:16px;
	color:#FFF;
	text-align:center;
	font-size:12px;
}
#newButton {
	left:140px;
	width:46px;
}
#newButton .menuButtonName {
	width:46px;
}
#contactsButton {
	left:206px;
	width:66px;
}
#contactsButton .menuButtonName {
	width:66px;
}
#helpButton {
	left:292px;
	width:46px;
}
#helpButton .menuButtonName {
	width:46px;
}