@charset "utf-8";
/* CSS Document */
.newButtonSettingBox {
	width:798px;
	height:528px;
	position:absolute;
	background-color:#FFF;
	border:solid 1px #999;
	top:80px;
	display:none;
}
.boxTitle {
	width:120px;
	height:40px;
	position:absolute;
	top:4px;
	left:15px;
	background-color:#1e6c6d;
}
.boxTitle span {
	position:absolute;
	width:100%;
	top:7px;
	text-align:center;
	color:#FFF;
}
.inputTextDiv {
	position:absolute;
}
#workerNameInputTextDiv {
	top:220px;
	left:420px;
}
#clientNumberInputTextDiv {
	top:150px;
	left:28px;
}
#clientNameInputTextDiv {
	top:220px;
	left:28px;
}
#clientAddressInputTextDiv {
	top:290px;
	left:28px;
}
#measuringTypeInputTextDiv {
	top:80px;
	left:420px;
}
#voltageRankInputTextDiv {
	top:150px;
	left:420px;
}
.inputTextName {
	position:absolute;
	left:0px;
	top:2px;
	width:100px;
	height:25px;	
}
.inputTextName span {
	position:absolute;
	width:100%;
	text-align:center;
	top:0px;
}
.inputTextContainer {
	position:absolute;
	top:0px;
	left:110px;
	width:200px;
	height:23px;
	border:solid 1px #999;
}
.inputText {
	position:absolute;
	top:0px;
	left:0px;
	width:198px;
	height:23px;
	border:none;
	padding-left:2px;
}
.selectInputDiv {
	position:absolute;
}
#clientTypeDiv {
	top:80px;
	left:28px;
}
.selectInputName {
	position:absolute;
	left:0px;
	top:2px;
	width:100px;
	height:25px;	
}
.selectInputName span {
	position:absolute;
	width:100%;
	text-align:center;
	top:0px;
}
.selectInputContainer {
	position:absolute;
	top:0px;
	left:110px;
	width:198px;
	height:23px;
	border:solid 1px #999;
	overflow:hidden;
}
.selectInputItemContainer {
	position:absolute;
	width:198px;
	height:46px;
	top:0px;
}
.selectInputItem {
	position:absolute;
	width:198px;
	height:23px;
	cursor:pointer;
	text-align:center;
}
.selectInputItem span {
	cursor:pointer;
}
.selectInputItemNumber {
	display:none;
}
.cancelButton {
	width:20px;
	height:20px;
	background-image:url(../img/cancelButton02.png);
	position:absolute;
	right:15px;
	top:15px;
	cursor:pointer;
}
.submitButton {
	width:46px;
	height:46px;
	position:absolute;
	cursor:pointer;
	border-radius:23px;
	background-color:#1e6c6d;
	bottom:10px;
	left:377px;
}
.submitButton span {
	position:absolute;
	width:46px;
	top:13px;
	text-align:center;
	color:#FFF;
	font-size:14px;
}